body{

margin-left: 100px;
margin-right:100px;
margin-top:20px;
border-left: solid #019fde  2px ;
border-right: solid #019fde  2px ;
border-top: solid #019fde  2px ;
border-bottom:solid #019fde  2px ;
text-align:center;
background-color:#F0F0F0;
font-family:Helvetica, sans-serif;
color: #050A3E;
height: 500px;
}

header { border-bottom: solid #019fde 2px;
		height:250px;
		 background-image: url("images/con1.png");
		 background-size:2000px 248px;
		 background-repeat: no-repeat;
		 
}
#menu{
		position: relative;
		top: -16px;
		left:0px;
		width:370px;
		font-size: 1.2em;
		border-bottom:solid #019fde 2px;
		padding:2px;
		
	}
.menu_buttons{
position:relative;
left: 0px;
padding:2px;
border-right: solid  #019fde 2px;
border-left: solid  #019fde 2px;
border-bottom: solid  #019fde 2px;
}

#login{
position: absolute;
top: 340px;
right: 120px;
width: 300px;
height: 180px;
text-align:left;
font-size: .8em;
}

.form_fields{
float: right;
margin-right: 50px;
}

fieldset{
border:none;
}

h1{
text-align:left;
margin-left: 20px;	
}

.mainp{
text-align:left;
margin-left: 50px;
margin-right:50px;
}

#loginS{
margin-top: 10px;

}
#loginResult{
position:absolute;
top:350px;
right:112px;
}
a:link {
    text-decoration: none;
	color: #2269DE ;
}

a:visited {
    text-decoration: none;
	color: #050A3E;
}

a:hover {
    text-decoration: none;
	color: #FFFF95;
}

a:active {
    text-decoration: none;
	color: #2269DE ;
}
.return{ position:absolute;
top: 370px;
left:150px;
} 

#loginError{
position: absolute;
top: 300px;
left:130px;
}

#errorL{text-align:left;}
                                                                                                                                                                                                                             