body{

margin-left: 100px;
margin-right:100px;
margin-top:20px;
border-left: solid #019fde  2px ;
border-right: solid #019fde  2px ;
border-top: solid #019fde  2px ;
border-bottom:solid #019fde  2px ;
text-align:center;
background-color:#F0F0F0;
font-family:Helvetica, sans-serif;
color: #050A3E;
height:700px;
}

header { border-bottom: solid #019fde 2px;
		height:250px;
		 background-image: url("images/con1.png");
		 background-size:2000px 248px;
		 background-repeat: no-repeat;
		 
}
#menu{
		position: relative;
		top: -16px;
		left:0px;
		width:370px;
		font-size: 1.2em;
		border-bottom:solid #019fde 2px;
		padding:2px;
		
	}
.menu_buttons{
position:relative;
top:-3px;
left: 0px;
padding:2px;
border-right: solid  #019fde 2px;
border-left: solid  #019fde 2px;
border-bottom: solid  #019fde 2px;
}


.form_fields{
float: right;
margin-right: 50px;
}

fieldset{
border:none;
}

h1{
text-align:left;
margin-left: 20px;	
}

.mainp{
text-align:left;
margin-left: 50px;
margin-right:50px;
}

#loginD{
position:absolute;
top:270px;
right:120px;

}
#loginResult{
position:absolute;
top:350px;
right:112px;
}
a:link {
    text-decoration: none;
	color: #2269DE ;
}

a:visited {
    text-decoration: none;
	color: #050A3E;
}

a:hover {
    text-decoration: none;
	color: #FFFF95;
}

a:active {
    text-decoration: none;
	color: #2269DE ;
}

.logout{
position: absolute;
top:290px;
right: 400px;

}

#table1{
margin-top:20px;
margin-left:50px;
float: left;

}

#edit{
position:absolute;
top: 360px;
left:300px;

}                                                                                                                                                                                                                             
   
#cu{
position: absolute;
top:298px;
left:470px;
}  

#update1{
float: right;
margin-right: 420px;
margin-top: 15px;
}  

#ubutton{
float: right;
margin-right: 420px;
margin-top:20px;
}   

#cd{
float: right;
margin-right:40px;
margin-top:20px;
}  

#delete1{
float: right;
margin-right: 420px;
margin-top:-40px;
}  

#dbutton{
float: right;
margin-right: 420px;
margin-top:20px;
}   

#upadetF{ float: left;
margin-top:40px;
margin-left:40px;
text-align: left;
width:500px;
} 
.textU{
float:right;
}
#materialM{ float: left;
margin-left: 150px;
margin-top: 50px;}

#OM{ float: left;
margin-top: 20px;
margin-left: -150px;

}
#formOrder{
position: absolute;
top: 450px;
right:330px;
width: 500px;
text-align: left;
}

#rightSide{position: absolute;
right:115px;
}

#centerT{ 
position: absolute;
right:193px;}

#leftText{
position:absloute;
left:500px;
}

#FontT{
position:absolute;
left:270px;
}
#OM2{ float: left;
margin-top: 20px;
margin-left: 150px;

}
#m{ position: absolute;
right: 92px;
}