body{

margin-left: 100px;
margin-right:100px;
margin-top:20px;
border-left: solid #019fde  2px ;
border-right: solid #019fde  2px ;
border-top: solid #019fde  2px ;
border-bottom:solid #019fde  2px ;
text-align:center;
background-color:#F0F0F0;
font-family:Helvetica, sans-serif;
color: #050A3E;
height: 800px;
}

#formS{
border:solid #019fde 1px;
}

#signup1{
float:left;
margin-left: 50px;
margin-top: 50px;
width: 450px;
text-align:left;

}

.form_fields2{
float: right;
margin-right: 115px;


}